<% include ./partials/header %>

<div class="container">
  <div class="row header-row">
    <div class="col-md-auto header-wrapper">
      <h1 class="header"><%= displayName %>'s Diaries</h1>
    </div>

    <% if (currentUser && currentUser.username === user) { %>
      <div class="col-md-auto header-wrapper">
        <button type="button" class="header-btn" data-toggle="modal" data-target="#new-diary">
          New diary
        </button>
      </div>
    <% } %>
  </div>

  <div class="row">
    <% diaries.forEach(diary => { %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 diary-grid-col">
        <div class="diary-grid-item">
          <div class="diary-grid-wrapper">
            <a href="/<%= user %>/diaries/<%= diary.id %>">
              <div class="diary-grid-item-name"><%= diary.name %></div>
              <% if (diary.posts.length != 0) { %>
                <img src="<%= diary.posts[0].image %>" class="diary-grid-item-img" alt="..."></img>
              <% } else { %>
                <div class="diary-grid-item-noimg">No posts!</div>
              <% } %>
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <% if (currentUser && currentUser.username === user) { %>
    <% include ./newDiary %>
  <% } %>
</div>

<% include ./partials/footer %>