<% include ./partials/header %>

<div class="container">
  <div class="header-row">
    <div class="col-md-auto header-wrapper">
      <h1 class="header"><%= diary.name %></h1>
    </div>

    <% if (currentUser && currentUser.username === user) { %>
      <div class="col-md-auto header-wrapper">
        <button type="button" class="header-btn" data-toggle="modal" data-target="#new-post">
          New post
        </button>
        <button type="button" class="header-btn" data-toggle="modal" data-target="#edit-post">
          Edit diary
        </button>
        <button type="button" class="header-btn" data-toggle="modal" data-target="#delete-post">
          Delete diary
        </button>
      </div>
    <% } %>
  </div>

  <% if (diary.posts.length == 0) { %>
    <p class="empty-page-text">This diary does not have any posts.</p>
  <% } %>

  <div class="row">
    <div class="post-grid">
      <% diary.posts.forEach(post => { %>
        <div class="post-grid-item">
          <a href="/<%= user %>/diaries/<%= diary._id %>/posts/<%= post._id %>">
            <img class="post-grid-item-img" src="<%= post.image %>">
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<% if (currentUser && currentUser.username === user) { %>
  <% include ./newPost %>
  <% include ./editDiary %>
  <% include ./deleteDiary %>
<% } %>

<% include ./partials/footer %>