<% include ./partials/header %>

<div class="container">
    <div class="row flex-nowrap">
        <!-- Left side of page for nav -->
        <div class="col-sm-1 d-none d-sm-flex side-arrow-wrapper">
            <h3 class="arrow">&lt;</h3>
        </div>

        <!-- Center of page -->
        <div class="col dish-show-center-col">
            <div class="row header-row">
                <div class="col header-wrapper">
                    <h1 class="header"><%= restaurant.name %></h1>
                </div>
            </div>        
            
            <div class="dish-show-body">
                <div class="row-auto">
                    <img class="dish-show-img" src="<%= dish.image %>">
                </div>
                <div class="row-auto dish-show-title">
                    <h3><%= dish.name %></h3>
                    <h3>$<%= dish.price %></h3>
                </div>
                <div class="row-auto dish-show-comment">
                    <p><%= dish.comment %></p>
                </div>
                
                <% if (currentUser && currentUser.username === user) { %>
                    <div class="row-auto dish-show-btn-row">
                        <button type="button" class="header-btn" data-toggle="modal" data-target="#edit-dish" >
                            Edit
                        </button>
                        <button type="button" class="header-btn" data-toggle="modal" data-target="#delete-dish" >
                            Delete
                        </button>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- Right side of page for nav -->
        <div class="col-sm-1 d-none d-sm-flex side-arrow-wrapper">
            <h3 class="arrow">&gt;</h3>
        </div>
    </div>
    
    <!-- Nav buttons for smaller viewports -->
    <div class="row p-3">
        <div class="col d-block d-sm-none">
            <div class="d-flex bottom-arrow-wrapper">
                <h3 class="arrow">&lt;</h3>
                <h3 class="arrow">&gt;</h3>
            </div>
        </div>
    </div>

    <% if (currentUser && currentUser.username === user) { %>
        <!-- Modal to edit dish -->
        <% include ./editDish %>

        <!-- Modal to delete dish -->
        <% include ./deleteDish %>

    <% } %>
</div>

<% include ./partials/footer %>
