<% include ./partials/header %>

<div class="container">
    <div class="row header-row">
        <div class="col-md-auto header-wrapper">
            <h1 class="header"><%= restaurant.name %></h1>
        </div>

        <% if (currentUser && currentUser.username === user) { %>
            <div class="col-md-auto header-wrapper">
                <button type="button" class="header-btn" data-toggle="modal" data-target="#new-dish">
                    New dish
                </button>

                <button type="button" class="header-btn" data-toggle="modal" data-target="#edit-dish">
                    Edit restaurant
                </button>

                <button type="button" class="header-btn" data-toggle="modal" data-target="#delete-dish">
                    Delete restaurant
                </button>
            </div>
        <% } %>
    </div>

    <!-- Grid to display dishes from restaurant -->
    <div class="row">
        <div class="dish-grid">
            <% restaurant.dishes.forEach(d => { %>
                <div class="dish-grid-item">
                    <a href="/diary/<%= user %>/restaurants/<%= restaurant._id %>/dishes/<%= d._id %>">
                        <div class="dish-grid-item-wrapper">
                            <img class="dish-grid-item-img" src="<%= d.image %>"> 
                            <div class="dish-grid-item-overlay">
                                <div class="dish-grid-item-name"><%= d.name %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% if (currentUser && currentUser.username === user) { %>
    <!-- Modal to add new dish  -->
    <% include ./newDish %>
    
    <!-- Modal to edit restaurant -->
    <% include ./editRestaurant %>

    <!-- Modal to delete restaurant -->
    <% include ./deleteRestaurant %>
<% } %>

<% include ./partials/footer %>

